@font-face{ 
  font-family: open-dyslexic;
  font-style:normal;
  font-weight:400;
  src:local('Open-Dyslexic'), url(https://fonts.cdnfonts.com/s/29616/open-dyslexic.woff) format('woff')
}

html * {
  font-family: 'Open-Dyslexic', sans-serif;

}


